@import '../../styles/variables.scss';

#creator-mode-component {
  display: grid;
  grid-template-rows: auto 1px 1fr;
  gap: 20px;

  .page-header {
    .home-btn {
      &:hover {
        background: rgb(55, 55, 55);
      }
    }
  }

  .body-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .icon-container {
      display: grid;
      gap: 10px;
      background: unset;
      height: 100%;
      position: relative;

      &-right {
        grid-template-columns: 1fr 56px;
      }

      .icon-bar {
        border-radius: 10px;

        &-left {
          background-color: $secondary;
        }

        &-right {
          background-color: $tertiary;
        }
      }

      .left-menu-button {
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }

    .content-container {
      border-radius: 10px;
      padding: 10px;

      &-left {
        border: solid 3px $secondary;
      }

      &-right {
        border: solid 3px $tertiary;
      }

      .MuiTabPanel-root {
        color: $text-color;
      }
    }
  }
}