.node-accordion {
  &.MuiAccordion-root {
    box-shadow: none;
    &.Mui-expanded {
      margin: 0;
    }
  }

  .MuiAccordionSummary-root {
    padding: 0;
    min-height: unset;
    &.Mui-expanded {
      min-height: unset;
    }

    .MuiAccordionSummary-content {
      margin: 0;
    }
  }

  .MuiCollapse-root {
    .MuiAccordionDetails-root {
      padding: 0;
    }
  }

  .accordion-summary {
    .selection-checkbox {
      visibility: hidden;
      padding: 0;
    }

    .MuiAccordionSummary-content {
      &:hover {
        background: unset;

        .selection-checkbox {
          visibility: initial;
        }
      }
    }

    .expanded-carret {
      filter: brightness(5);
      transition: all 0.2s ease-out;
      position: relative;
    }
  }

  .MuiAccordionDetails-content {
    padding-bottom: 0;
  }
}