.node-accordion {
  .MuiAccordionSummary-root {
    min-height: unset;
    &.Mui-expanded {
      min-height: unset;
    }

    .MuiAccordionSummary-content {
      margin: 0;
      &.Mui-expanded {
        margin: 0;
      }
    }
  }

  .accordion-summary {
    .selection-checkbox {
      visibility: hidden;
      padding: 0;
    }

    .MuiAccordionSummary-content {
      &:hover {
        background: unset;

        .selection-checkbox {
          visibility: initial;
        }
      }
    }

    .expanded-carret {
      filter: brightness(5);
      transition: all 0.2s ease-out;
      position: relative;
    }
  }

  .MuiAccordionDetails-content {
    padding-bottom: 0;
  }
}