@import './styles//variables.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  height: calc(100vh - 40px);
  padding: 20px;
  display: grid;
}

body {
  margin: 0;
  padding: 0;
  background: $bg-color;
}

.clickable {
  cursor: pointer;
}

.ellipse {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
